html {
  background: none;
  width: 100%;
  height: 100%;

  body {
    margin: 0 auto;
    width: 100%;
    height: 100%;

    #root {
      width: 100%;
      height: 100%;
    }
  }
}

.ant-tabs {
  display: flex;
  flex-direction: column;

  .ant-tabs-content-holder {
    flex: 1;
    min-height: 0;
  }

  .ant-tabs-content {
    height: 100%;
  }

  .ant-tabs-tabpane {
    height: 100%;
  }
}